# DATABASE_URL: Prisma connection to the database
DATABASE_URL= 

# GOOGLE_CLIENT_ID: Client ID for Google OAuth
GOOGLE_CLIENT_ID= 

# GOOGLE_CLIENT_SECRET: Client Secret for Google OAuth
GOOGLE_CLIENT_SECRET= 

# NEXTAUTH_URL: The URL of your Next.js application for authentication
NEXTAUTH_URL= 

# NEXTAUTH_SECRET: Secret key for NextAuth.js (used for session encryption)
NEXTAUTH_SECRET= 